    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100vw; /* Full viewport width */
        padding: 20px;
        margin-top: 0; /* Remove spacing at the top */
    }

    .header {
        background-color: #29394b;
        color: white;
        padding: 20px;
        text-align: center;
        width: 100%;
    }

    .form-container {
        padding: 20px;
        width: 90%;
        margin-top: 120px;
    }

    .form-container h2 {
        margin-top: 0;
    }

    .form-container label {
        display: inline-block;
        width: 150px; /* Set width for the label */
        margin-bottom: 10px;
    }

    .form-container input[type="text"] {
        width: 75%; /* Adjust width for the input */
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
    .form-container input[type="checkbox"]{
        width: 30px;
        height: 30px;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    table {
        border-collapse: collapse;
        width: 90%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .remove-button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
    }

    .remove-button:hover {
        background-color: #d32f2f;
    }

	header{
  position: fixed;
  padding:10px;
  padding-left:20px;
  padding-bottom:25px;
  
  z-index: 10;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 100%;
  background-color: #29394b;
}
	header{
  		position: fixed;
  		padding:10px;
  		padding-left:20px;
  		padding-bottom:25px;
  
  		z-index: 10;
  		top: 0px;
  		left: 0px;
  		height: 150px;
  		width: 100%;
  		background-color: #29394b;
	}
	#header-box {
            background-color: #29394b;
            padding: 20px;
            text-align: center;
    }
