header{
  padding:10px;
  padding-left:20px;
  padding-bottom:25px;
  
  z-index: 10;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 100%;
  background-color: #29394b;
}
h1{
  font-family: navigo, sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#f9f2f7;
}
body{
  background-color: #29394b;
}
#header-box {
  background-color: #29394b;
  padding: 20px;
  text-align: center;
}

.oppDiv{
	width: 500px;
	height:100px;
	background:#0091C3;
	color:white;

	border-radius:10px;
	padding:10px;
	text-align: center;
}

.oppDiv *{
	margin: 5px;
	padding: 5px;
}
