#navbar button{
	border-style:none;
	padding:10px;
	background-color:#06048f;
	min-width:fit-content;
  	color: white;
}

#navbar a{
	text-decoration: none;
	color: white;
}

#navbar {
	left: 0px;
}

dialog{
  width: 45%;
  height: 40%;
  padding:10px;
  align-items: center;
  align-content: center;
  border: none;
  border-radius: 10px;
}

dialog *{
  text-align: center;
  margin: 5px;
}
#gamedeets{
  color: black;
}
#dateSelect{
	color: black;
}
