<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Scouting Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='response.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
</head>
<body>
    <h1 id="heading">
        <img id="logo" src="/templates/soccerCrest.png" height=50> 
    
        <span id="title"> DRHS Girls' Soccer Statistics</span> 
        <img id="logo" src="/templates/soccerCrest.png" height=50>
    </h1>  

  <div id="header-box">
        <nav id="navbar">
        <!--  <button> <span id = "alreadyHere">Login</span> </button>
      <button> <a href="Past_Games_Page.html">Home </a> </button>
      <button onclick=showPopup()> <h7>New Game</h7></button>
      <button> <a href="Settings.html">Settings</a> </button>
      <button> <a href= "./https://www.instagram.com/deeprunwsoccer/">Instagram</a> </button>
      <button class="current"><a href="./scouting.html">Scouting Report</a></button>-->
      <button><a href="{{ url_for('main') }}">View Reports</a></button>
      <button><a href="{{ url_for('create') }}">Write a Report</a></button>
      <button><a href="https://drhscit.org/drss/SoccerStats/">Back to the Home Page</a></button>


            
      <!-- <dialog id="popup">
          <h2>New Game</h2>
          <form id="gameDeets" action="newGame.html" onsubmit=getData()>
              <select id="oppSelect">
                  <option>Varsity</option>
                  <option>JV</option>
              </select></br>
              <input id="dateSelect" type="date" name="group1"></br>
              <input type="radio" name="loc" value="Home">Home
              <input type="radio" name="loc" value="Away">Away</br>
              <input type="radio" name="type" value="Game">Game
              <input type="radio" name="type" value="Scrimmage">Scrimmage</br>
              <button type="submit">Done</button>
              <button type="button" onclick=closePopup()>Close</button>
          </form>
              
      </dialog> -->

  </nav>
  </div>
  </header>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
