{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Report {% endblock %}</h1>
    <br><br>
    <form method="post">
        <p>
            <label for="team">Team: </label>
            <input type="text" name="team"
                   placeholder="Team Name">
            </input>
        </p>
        <p>
            <label for="playstyle">Style of Play: </label>
            <br>
            <textarea name="playstyle"
                      placeholder="Style of Play"
                      rows="15"
                      cols="60"
                      ></textarea>
            </p>
            <p>
                <label for="corners">Corners/Set Pieces: </label>
                <br>
                <textarea name="corners"
                          placeholder="Corners/Set Pieces"
                          rows="15"
                          cols="60"
                          ></textarea>
                </p>
        <p>
        <label for="players_to_watch">Players To Watch: </label>
        <br>
        <textarea name="players_to_watch"
                  placeholder="Players To Watch"
                  rows="15"
                  cols="60"
                  ></textarea>
        </p>
        <p>
            <label for="goalkeeper">Goalkeeper:</label>
            <br>
            <textarea name="goalkeeper"
                      placeholder="Goalkeeper"
                      rows="15"
                      cols="60"
                      ></textarea>
            </p>
        <p>
            <label for="team_notes">Team Notes: </label>
            <br>
            <textarea name="team_notes"
                      placeholder="Team Notes"
                      rows="15"
                      cols="60"
                      ></textarea>
            </p>
            <p>
                <label for="roster">Roster: </label>
                <br>
                <textarea name="roster"
                          placeholder="Roster"
                          rows="15"
                          cols="60"
                          ></textarea>
                </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}
