{% extends 'game.html' %}

{% block content %}
    <h1>{% block title %} Add a New Game {% endblock %}</h1>
    <br><br>
    <form method="post">
        <p>
            <label for="team_game">Team: </label>
            <input type="text" name="team_game"
                   placeholder="Team Name">
            </input>
        </p>

        <p>
            <label for="home_goals">Home Goals: </label>
            <input type="number" name="home_goals"
                   placeholder="Add Goal">
            </input>
        </p>

        <p>
            <label for="opponent_goals">Opponent Goals: </label>
            <input type="number" name="opponent_goals"
                   placeholder="Add Goal">
            </input>
        </p>

        <p>
            <label for="goal_scorer">Goal Scorer #: </label>
            <input type="text" name="goal_scorer"
                   placeholder="Write the number of the goal scorer">
            </input>
        </p>

        <p>
            <label for="assister">Assister #: </label>
            <input type="text" name="assister"
                   placeholder="Write the number of the assister">
            </input>
        </p>

        <p>
            <label for="goal_description">Goal Description (Assist # - Scorer # - Description): </label>
            <br>
            <textarea name="goal_description"
                      placeholder="Goal Description"
                      rows="3"
                      cols="70"
                      ></textarea>
            </p>
            <p>
                <label for="goalie_saves">Goalie Saves: </label>
                <input type="number" name="goalie_saves"
                       placeholder="Add Saves">
                </input>
            </p>
            <p>
                <label for="home_corner_kicks">Home Corner Kicks: </label>
                <input type="number" name="home_corner_kicks"
                       placeholder="Add Corner Kick">
                </input>
            </p>
    
            <p>
                <label for="opponent_corner_kicks">Opponent Corner Kicks: </label>
                <input type="number" name="opponent_corner_kicks"
                       placeholder="Add Corner Kick">
                </input>
            </p>
            <p>
                <label for="fouls">Fouls: </label>
                <input type="number" name="fouls"
                       placeholder="Add Foul">
                </input>
            </p>
            
        <p>
            <label for="home_goal_kicks">Home Goal Kicks: </label>
            <input type="number" name="home_goal_kicks"
                   placeholder="Add Goal Kick">
            </input>
        </p>

        <p>
            <label for="opponent_goal_kicks">Opponent Goal Kicks: </label>
            <input type="number" name="opponent_goal_kicks"
                   placeholder="Add Goal Kick">
            </input>
        </p>
        <p>
            
            <label for="lineup">Lineup (Player # : Position): </label>
            <br>
            <textarea name="lineup"
                      placeholder="Lineup"
                      rows="3"
                      cols="70"
                      ></textarea>
            </p>
            <label for="field_conditions">Field Conditions (Grass, Turf, Bumpy, Smooth, Dimensions off, Narrow sidelines, Other): </label>
            <br>
            <textarea name="field_conditions"
                      placeholder="Grass, Turf, Bumpy, Smooth, Dimensions off, Narrow sidelines, Other"
                      rows="2"
                      cols="70"
                      ></textarea>
            </p>
                    <label for="weather_conditions">Weather Conditions (Sunny, Windy, Rainy, Light Mist, Cloudy, Below 40, Above 75, Other): </label>
            <br>
            <textarea name="weather_conditions"
                      placeholder="Sunny, Windy, Rainy, Light Mist, Cloudy, Below 40, Above 75, Other"
                      rows="2"
                      cols="70"
                      ></textarea>
            </p>
<!--
        <p>
           
            <label for="field_conditions">Field Conditions: </label>
            <input type="text" name="field_conditions"
                   placeholder="Field Conditions">
            </input>
        </p>

        <p>
            <label for="weather_conditions">Weather Conditions: </label>
            <input type="text" name="weather_conditions"
                   placeholder="Weather Conditions">
            </input>
        </p>-->

        <p>
            <button type="submit">End Game</button>
        </p>
    </form>
{% endblock %}
