{% extends 'game.html' %}

{% block content %}
    <h1>{% block title %} Game Reports {% endblock %}</h1>
    {% for game in game_report %}

        <div class='game'>
            <h3>Team: {{ game[1] }}</h3>
            <p class = "italics">Score: {{ game[2]}} : {{game[3] }}</p>
            <p class="italics">Home Goals: {{ game[2] }}</p>
            <p class="italics">Opponent Goals: {{ game[3] }}</p>
            <p class="italics">Goal Scorer #: {{ game[4] }}</p>
            <p class="italics">Assister #: {{ game[5] }}</p>
            <p class = "italics">Goal Description (Assist # : Scorer # : Description): {{ game[6] }}</p>
            <p class = "italics">Goalie Saves: {{ game[7] }}</p>
            <p class = "italics">Home Corner Kicks: {{ game[8] }}</p>
            <p class = "italics">Opponent Corner Kicks: {{ game[9] }}</p>
            <p class = "italics">Fouls: {{ game[10] }}</p>
            <p class = "italics">Home Goal Kicks: {{ game[11] }}</p>
            <p class = "italics">Opponent Goal Kicks: {{ game[12] }}</p>
            <p class = "italics">Lineup (Player # : Position): {{ game[13] }}</p>
            <p class="italics">Field Conditions: {{ game[14] }}</p>
            <p class="italics">Weather Conditions: {{ game[15] }}</p>
            <p class = "italics">Added: {{ game[16] }}</p>
            <button><a  class = "box" href="{{ url_for('deleteGame', id=game[0]) }}">Delete a Game</a></button>
        </div>
        <br>
    {% endfor %}
{% endblock %}
